.formulario_entrades {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.formulario_venda {
    background: #fafafa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
    text-align: left;
}

.formulario_venda label {
    display: block;
    margin-bottom: 5px;
    font-size: 1rem;
    color: #333;
}

.formulario_venda input,
.formulario_venda select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

.formulario_venda button {
    background-color: #800000;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 1rem;
}

.formulario_venda button:hover {
    background-color: #660000;
}
